---
import MainHead from './MainHead.astro';
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'
import '../styles/global.css'

interface Props {
	title?: string;
	description?: string;
}

const { title = 'Default title', description = 'Default description' } = Astro.props as Props
---

<html lang="es">
	<MainHead title={title} description={description} />
	<body>
		<Nav />
		<main>
			<slot> Default text</slot>
		</main>
		<Footer />
	</body>
</html>
